* {
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  height: auto;
  background-color: aliceblue;
}

.wrapper {
  display: block;
  width: 26.1%;
  background-color: #e9eaeb;
  align-items: center;
  justify-content: center;
  margin-left: 6rem;
  border-radius: 19px;
}

button {
  background-color: #e2e2eb;
  border: none;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 9px 2px;
  cursor: pointer;
  min-height: 30px;
  min-width: 81px;
  margin-top: 0;
  border-radius: 29px;
  border-bottom: #4a8be0 1px solid;
  border-top: #f0f5fb 1px solid;
}

.allClear {
  background-color: #9ec7cb;
}

.plusMinus, .percent {
  background-color: #bfd3e0;
}

.button-box {
  padding: 6px;
}

button.zero {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 164.5px;
}

button.last {
  background-color: #c8e3f6;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  background-color: rgb(204, 203, 207);
}

.screen {
  min-width: 60%;
  min-height: 4rem;
  background-color: #4357692d;
  margin-top: 0;
  margin-bottom: 0;
  border-top-right-radius: 19px;
  border-top-left-radius: 19px;
  padding-top: 16px;
}

div.screen {
  text-align: right;
}

.input {
  text-align: right;
  font-size: 29px;
  margin-right: 6px;
  color: white;
}

p.input {
  padding-top: 1rem;
}

.imenu {
  display: flex;
  flex-direction: row;
  gap: 7rem;
}

.menup {
  font-size: 61px;
  margin-left: 1rem;
}
