* {
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

nav {
  background-color: rgb(8, 9, 68);
  display: flex;
  width: 100%;
  height: 100px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

h1 {
  color: white;
  font-size: 2.9rem;
  margin-top: auto;
  margin-bottom: auto;
}

.menuList {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 5rem;
  margin-left: 20rem;
}

ul {
  list-style: none;
}

li {
  color: white;
  text-decoration: none;
  margin-top: 12px;
  margin-bottom: auto;
}

.menui {
  color: white;
}

.menui:hover {
  color: rgb(175, 185, 35);
}

.menui:active {
  color: rgb(228, 31, 179);
}

h2 {
  font-size: 1.9rem;
}

.page {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
}

.quote {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
  font-size: xx-large;
}

.quoteMath {
  font-size: xx-large;
  font-weight: 900;
}

.vertical {
  border-right: 1px solid white;
  height: 10px;
  left: 50%;
}
